div:hover {
    background-color: rebeccapurple
}

div {
    transition: background-color 10s;
}

button:hover {
    background-color: black;
    color: white
}

button {
    transition: all 500ms;
}
div::after{
    content: "frontend simplified";
}